@using WebWarehouse.Common
@model WebWarehouse.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>We have:</p>
    <div class="col-md-4 offset-md-4">
        <ul class="list-group">
            <li class="list-group-item bg-light">Countries: @Model.CountriesCount</li>
            <li class="list-group-item bg-light">Cities: @Model.CitiesCount</li>
            <li class="list-group-item bg-light">Settings: @Model.SettingsCount</li>
        </ul>
    </div>
</div>
