@using WebWarehouse.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <h4>This will by my first web application! </h4>
    <p>Today is @DateTime.Now.ToString("d")</p>
    
    <p>I have @((new DateTime(2020, 12, 19, 9, 0, 00)-(DateTime.Today)).Days) days to finish the project!</p>
    <p>Learn about <a href="https://docs.microsoft.com/es-es/aspnet/core/?view=aspnetcore-3.1">building Web apps with ASP.NET Core</a>.</p>
</div>
